  /* .doc-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #fff;
  } */
  
  .folder-card {
      display: inline-block;
  }
  
  .file-card {
      display: inline-block;
      vertical-align: top;
  }